/* Add gridlines */
/*
* { 
    border: 1px solid black; 
    box-sizing: border-box;
  }
/**/
body {
    height: 100%;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 0px;

    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.658);
}


.content-header {
    text-align: center;
    margin-bottom: 2.5em;
}

#under-construction {
    background-color: #f0f0f0;
    font-size: 1.2em;
}

    .under-construction-card {
        display: flex;
        gap: 20px;

        justify-content:center;
        align-items: center;
        
        height: 25em;
    }

#header {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #cbecff;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    align-items: center;
}

/* Top Navigation */
.main-menu {
    display: flex;
    width: 75%;

    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}

.navbar {
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.0em;
    font-weight: bold;
    color: #7a7a7a;
}

.navbar a {
    text-decoration: none;
    color:#002b36
}

.nav-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    
    margin-block: auto;
    margin-right: 0;
    padding: 0;
}

.nav-menu .menu-nav-list {
    padding-inline: 2.4em;
    opacity: 1;

    list-style-type: none;
    text-decoration: none;

    transition: all 0.5s ease-in-out;
}

.menu-nav-list a {
    text-decoration: none;
    color:#567279
}

.menu-nav-list:hover a {
    color: #ea4f4c;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 1.5em;
    height: 0.12em;
    margin: 0.15em 0;
    transition: all 0.3s ease;
    background-color: black;
}

@media screen and (max-width: 68em) {
    body {
        font-size: 1.6em;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 10%;
        gap: 0;
        flex-direction: column;
        background-color: #e2f4ff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu .menu-nav-list {
        margin: 16px 0;
    }

    .nav-menu.active {
        right:0;
    }
}

/* BODY */
#intro {
    width: 50%;
    
    margin-top: 10em;
    margin-bottom: 5em;
    margin-inline: auto;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-card {
    display: inline-block;
    margin-inline: auto;
    justify-content: center;
    text-align: center
}

@media screen and (max-width: 68em) {
    #intro {
        width: 90%;
        margin-top: 30%;
        font-size: 120%;
    }
}
  
footer {
    position: relative;
    bottom: 0em;
    width: 100%;
    text-align: center;
    
    }

.footer-container {
    display: flex;
    justify-content: center;

    width: 15%;

    gap:50px;
    margin-bottom: 2m;
    margin-left: auto;
    margin-right: auto;
}

.platform-links {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.platform-images {
    height: 1.5em;
}

.platform-images-medium {
    height: 1.5em;
}

footer p {
    font-size: 0.8em;
}

/* FOR NEXT IMPLEMENTATION
#connect {
    background-color: #002b36;
    color:#e1f9ff;

    padding: 50px;
}

    #connect .content-header {
        margin-bottom: 50px;
    }

    .connect-container {
        display:flex;
        justify-content:center;
        align-items: center;
        
        font-size: 0.8em;
        gap: 120px;
    }

        .mail-form-top {
            display:flex;
            padding: 5px;
            gap: 15px;

            font-size: 1.1em;
            margin-bottom: 1em;
        }

        input {
            border-radius: 5px;
            height: 1.5em;
        }
*/